<nav class="bg-info navbar navbar-expand-lg navbar-light fixed-top">
  <a class="navbar-brand" routerLink='/home'>
    <img src="/assets/images/google.jpg" width=80pX height=50px>
  </a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" (keyup)="getVal($event)">
      <button class="btn btn-outline-success my-2 my-sm-3" type="submit"><a [routerLink]="['/search',searchText]" >Search</a></button>
    </form>
  </button>

  <div class="navbar-collapse collapse" id="#navbarSupportedContent">
    <ul class="nav navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink='/home' routerLinkActive='active'>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/contact' routerLinkActive='active'>Contact</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" (keyup)="getVal($event)">
      <button class="btn btn-outline-success my-2 my-sm-3" type="submit"><a [routerLink]="['/search',searchText]" >Search</a></button>
    </form>
  </div>
</nav>



